<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.programaestudio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgramaEstudio">
        <activity android:name=".EstudioBotones"></activity>

        <receiver android:name=".EstudioWidget">
            //Con esto registramos estaticamente el Broad-Cast Receiver en nuestra App. Dentro de
            "name" va a contener la clase la cual albergará la widget
            <intent-filter>
                //Este elemento hace que la clase del widget acepte mensajes del broadcast del
                AppWidgetManager
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/estudio_widget_info" />
            //Este atributo indica donde tenemos la información de nuestro widget
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>